<ion-content>
  <div class="d-flex-center wraper" (click)="jump()">
    <div class="background" [ngStyle]="{
      'background-size': container_width + 'px ' + container_height + 'px',
      'width': container_width + 'px ',
      'height': container_height + 'px'
    }">
      <!-- ==========   Game without starting   ========== -->
      <div *ngIf="!gameStarted" class="d-flex-center text">
        <section>
          <!-- ==========   Bird logo   ========== -->
          <img class="bird-logo" src="/assets/images/bird.gif" alt="bird">
          <!-- ==========   First Game   ========== -->
          <div *ngIf="!gameOver">
            <div class="subtext">Ionic v7</div>
            Flappy Bird
          </div>
          <!-- ==========   Game over  ========== -->
          <div *ngIf="gameOver">
            <div class="subtext">Game Over</div>
            Score: {{score}}
          </div>
          <!-- ==========   Start button  ========== -->
          <ion-button (click)="startGame()" color="warning" mode="ios" shape="round">
            {{!gameOver ? 'Play' : 'Try Again'}}
            <ion-icon slot="end" name="play"></ion-icon>
          </ion-button>
          <!-- ==========   Audio button  ========== -->
          <ion-button (click)="playMusic()" color="success" mode="ios" shape="round">
            <ion-icon [name]="musicActive ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
          </ion-button>
        </section>  
      </div>
      <!-- ==========   Game started  ========== -->
      <section *ngIf="gameStarted">

        <div class="score">Score: {{score}}</div>
      <!-- ==========   Top obstacle  ========== -->
        <app-obstacle
        [height]="obstacle_height"
        [width]="obstacle_width"
        [left]="obstacle_position"
        [top]="0"
        [rotation]="180"
        ></app-obstacle>
      <!-- ==========   Bird  ========== -->
        <app-bird
        [height]="bird_height"
        [width]="bird_width"
        [top]="bird_position"
        ></app-bird>
      <!-- ==========   Bottom obstacle  ========== -->
        <app-obstacle
        [height]="container_height - obstacle_gap - obstacle_height"
        [width]="obstacle_width"
        [left]="obstacle_position"
        [top]="container_height - (obstacle_height + (container_height - obstacle_gap - obstacle_height))"
        [rotation]="0"
        ></app-obstacle>
      </section>
    </div>     
  </div>
</ion-content>